body {
  font-family: sans-serif;
}

.label-color {
  position: relative;
}

.label-color::after {
  transform: translate(-50%, -50%);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2rem;
  height: 2rem;
  background: currentColor;
  border-radius: 50%;
}